@import "./partials/maps";
@import "./partials/color";
@import "./partials/extends";
@import "./partials/mixins";
@import "./partials/footer";
@import "./partials/header";
@import "./partials/botones";

*{
    margin: 0;
    font-family: "vwtext-regular";
  }
  @font-face {
    font-family: "vwtext-bold";
    src: url(../Tipografia/vw/VWText-Bold.otf);
  }
  @font-face {
    font-family: "vwtext-regular";
    src: url(../Tipografia/vw/VWText-Regular.otf);
  }
  
  h1{
    font-family: "vwtext-bold";
    font-size: map-get($font-size, fontsizeh1);
  }
  nav{
    text-align: center;
    justify-content: center;
    justify-items: center;
    background-color: map-get($colores, colorsecundario);
  }
  ul{
    list-style: none;
    padding: 60px;
  }
  
  li{
    float: left;
    text-align: center;
    padding: 5px 20px;
  }
  
  .red{
    padding: 0px 305px 10px;
    font-size: map-get($font-size, fontsizered);
  }

  .tit{
   font-size: map-get($font-size, fontsizetit);
  }
  
  .tit2{
   font-size: map-get($font-size, fontsizetit2);
  }
  .row{
   --bs-gutter-x: 0;
  }
  
  .widsub{
   width: 70%;
  }
  
  .imgs1{
   width: 100%;
   height: auto;
  }
  
  .f2{
  font-size: map-get($font-size, fontsizef2);
  }
  
  .neg{
   font-weight: 900;
  }
  
  .boton{
   border: 1px solid;
   margin: 10px;
   padding: 10px 30px;
   text-decoration: none;
   border-radius: 5px;
   background-color: map-get($colores, colorprincipal);
   color: map-get($colores, colorsecundario);

   &:hover{
     color: map-get($colores, colorterciario);
     border: 1px solid map-get($colores, colorterciario);
     background-color: map-get($colores, colorsecundario);
     transition: 2s;
   }
  }

  footer a:hover{
  color: map-get($colores, colorprincipal);
  background-color: map-get($colores, colorsecundario);
  }
  
  .imgtec{
   width: 750px;
   height: 500px;
  }
  
  .imgtec1{
   padding: 0% 9%;
  }
  
  .marg{
   margin: 0px 0px 20px;
  }
  
  .fond{
   background-color: map-get($colores, colorprincipal);
   color: map-get($colores, colorsecundario);
   margin: 5%;
   padding: 2%;
  }
  
  .imgserv{
   width: 900px;
   height: 580px;
   margin: 25px;
  }
  
  .h2serv{
  font-size: map-get($font-size, fontsizeh2serv);
  }
  
  .pserv{
   margin: 30px 0px;
    font-size: map-get($font-size, fontsizepserv);
  }
  
  .turno{
   border: 1px solid;
   margin: 10px;
   padding: 10px 30px;
   text-decoration: none;
   border-radius: 5px;
   background-color: map-get($colores, colorsecundario);
   color: map-get($colores, colorprincipal);

   &:hover{
     border: 2px solid map-get($colores, colorsecundario);
     margin: 10px;
     padding: 10px 30px;
     text-decoration: none;
     border-radius: 5px;
     background-color: map-get($colores, colorprincipal);
     color: map-get($colores, colorsecundario);
     transition: 1.5s;
   }
  }

  
  .forms{
   width: 1111px;
    color: map-get($colores, colorsecundario);
    margin: 50px 450px;
    justify-content: center;
    text-align: center;
  }
  
  .forms2{
   background-color: map-get($colores, colorprincipal);
   border-radius: 10px;
   padding: 30px
  }
  
  .forms3{
   padding: 10px;
   justify-content: center;
  }
  
  .fm1{
   margin: 0px 0px 0px 80px;
  }
  
  .fm2{
   margin: 0px 0px 0px -20px;
  }
  
  .h2cont{
   font-size: map-get($font-size, fontsizeh2cont);
   padding: 30px;
  }
  
  .just{
   justify-content: center;
   padding: 20px 0px 0px;
  }
  
  .marcont{
   background-color: #014e92;
   border: 1px solid #ffffff;
   padding: 20px 0px 40px 0px;
   margin: 20px 38px 0px 85px;
   margin-right: 85px;
   padding-bottom: 30px;
   margin-bottom: 20px;
  }
  
  .recua{
   border: 2px solid map-get($colores, colorprincipal);
   width: 1111px;
    color: map-get($colores, colorprincipal);
    margin: 50px 450px;
    justify-content: center;
    text-align: center;
    padding: 25px;
  }
  
  .subsc{
   justify-content: center;
   text-align: center;
   font-size: map-get($font-size, fontsizesubsc);
   padding: 40px;
  }
  
  .em{
   font-size: map-get($font-size, fontsizeem);
  }
  .ims{
   height: 100%;
   width: 100%;
  }
  .padtec{
   margin: 0px 10%;
  }
  
  .pad2tec{
   padding: 5% 9%;
  }
  
  .textecno{
   width: 77%;
   padding: 3% 0%;
  }
  
  .bord{
   border: 2px solid map-get($colores, colorterciario);
  }
  
  .pad1{
   padding: 2%;
  }
  
  .mar5{
   margin: 5% 1%;
  }
  
  .mar3{
   margin: 3% 3%;
  }
  
  .imgauto{
   width: 50%;
   padding: 2%;
  }
  .auto{
   width: 100%;
   height: 100%;
  }
  
  .card{
   border: none;
  }
  
  .tam{
   width: 26rem;
  }
  
  .nowr{
   flex-wrap: nowrap;
  }
  
  *, ::after, ::before {
    box-sizing: content-box;
  }
  
  .mainsserv{
    margin: 0 40%;
    width: 100%;
  }

  .indgrid{
    display: grid;
    grid-template-areas: 
    "header header"
    "indimg indtit"
    "indimg indsub"
    "footer footer";
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
   } 
   
   header{
    grid-area: header;
   }
   
   footer{
    grid-area: footer;
   }
   
   .indtit{
    grid-area: indtit;
   }
   
   
   .indimg{
    grid-area: indimg;
   }
   
   .indsub{
    grid-area: indsub;
   }
   
   .texts{
     grid-area: texts;
     padding: 50px;
   }
   
   .imgs{
     grid-area: imgs;
     width: 90%;
     margin: 2%;
   }
   
   .indpad{
    padding: 5%;
   }
  
   /* Celular Index */
  @media screen and (max-width: 480px) {
    .indgrid{
       grid-template-areas: 
       "header"
       "indtit"
       "indsub"
       "indimg"
       "footer";
       grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
       grid-template-columns: 1fr;
    }   */
   
   .btn2{
     margin: 1px;
   }
   
   .tit{
     font-size: 58px;
   }
   
   .redtext{
     width: 90%;
   }
   
   .indsub{
     font-size: 25px;
    }
   }
    
    .foot{
     padding: 1px;
    }
  
   /* Tablet Index  */
   @media screen and (min-width: 481px) and (max-width: 1511px) {
    .indgrid{
       grid-template-areas: 
       "header"
       "indtit"
       "indsub"
       "indimg"
       "footer";
       grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
       grid-template-columns: 1fr;
    }  
   
    .tit{
     padding: 2% 2%;
    }
   
    .tit2{
     padding: 1% 7%;
    }
   
    .btn2{
     margin: 1px;
    }
   }
  
  .modgrid{
    display: grid;
    grid-template-areas: 
    "header header header"
    "h1 h1 h1"
    "modimg1 modimg2 modimg3"
    "modtex1 modtex2 modtex3"
    "modbot1 modbot2 modbot3"
    "footer footer footer";
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
   }
   
   .h1mod{
    grid-area: h1;
   }
   
   .headmod{
    grid-area: header;
   }
   
   footer{
    grid-area: footer;
   }
   
   .modimg1{
    grid-area: modimg1;
   }
   
   .modimg2{
    grid-area: modimg2;
   }
   
   .modimg3{
    grid-area: modimg3;
   }
   
   .modtex1{
    grid-area: modtex1;
   }
   
   .modtex2{
    grid-area: modtex2;
   }
   
   .modtex3{
    grid-area: modtex3;
   }
   
   .modbot1{
    grid-area: modbot1;
   }
   
   .modbot2{
    grid-area: modbot2;
   }
   
   .modbot3{
    grid-area: modbot3;
   }
  
  /* Celular Modelo */
  
  @media screen and (max-width: 480px) {
    .modgrid{
       grid-template-areas: 
       "header"
       "h1"
       "modimg1"
       "modtex1"
       "modbot1"
       "modimg2"
       "modtex2"
       "modbot2"
       "modimg3"
       "modtex3"
       "modbot3"
       "footer";
       grid-template-rows: 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr 1fr;
       grid-template-columns: 1fr;
    }
    
   } 
   
   /* Tablet Modelo */
   @media screen and (min-width: 481px) and (max-width: 1511px) {
    .modgrid{
       grid-template-areas: 
       "header"
       "h1"
       "modimg1"
       "modtex1"
       "modbot1"
       "modimg2"
       "modtex2"
       "modbot2"
       "modimg3"
       "modtex3"
       "modbot3"
       "footer";
       grid-template-rows: 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr 1fr;
       grid-template-columns: 1fr;
    }
   }
  
  .tecgrid{
    display: grid;
    grid-template-areas: 
    "header header"
    "h1 h1"
    "tectex1 tecimg1"
    "tecimg2 tectex2"
    "footer footer";
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
   }
   
   .h1tec{
    grid-area: h1;
   }
   
   .headtec{
    grid-area: header;
   }
   
   footer{
    grid-area: footer;
   }
   
   .tectex1{
    grid-area: tectex1;
   }
   
   .tecimg1{
    grid-area: tecimg1;
   }
   
   .tecimg2{
    grid-area: tecimg2;
   }
   
   .tectex2{
    grid-area: tectex2;
    padding: auto;
   }
  
  .sergrid{
    display: grid;
    grid-template-areas: 
    "header header"
    "h1serv h1serv"
    "h2grid h2grid"
    "pgrid pgrid"
    "imggrid imggird"
    "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
   }
  
   .h1serv{
    grid-area: h1serv;
   }
  
   .h2grid{
    grid-area: h2grid;
   }
  .pgrid{
    grid-area: pgrid;
  }
  .imggrid{
    grid-area: imggrid;
  }
  
   /* Celular Servicio */
  
  @media screen and (max-width: 480px) {
    .sergrid{
       grid-template-areas: 
       "header"
       "h1serv"
       "h2grid"
       "pgrid"
       "imggrid"
       "footer";
       grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr ;
       grid-template-columns: 1fr;
    }
    .mainsserv{
      margin: 0px;
    }
   } 
   
   /* Tablet Servicio */
   @media screen and (min-width: 481px) and (max-width: 1511px) {
    .sergrid{
      grid-template-areas: 
      "header"
      "h1serv"
      "h2grid"
      "pgrid"
      "imggrid"
      "footer";
      grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr ;
      grid-template-columns: 1fr;
   }
   .mainsserv{
    margin: 0px;
   }
   }
  
  .contagrid{
    display: grid;
    grid-template-areas: 
    "header header"
    "h1serv h1serv"
    "h2grid h2grid"
    "pgrid pgrid"
    "imggrid imggird"
    "footer footer";
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
   }
  
   .h1serv{
    grid-area: h1serv;
   }
  
   .h2grid{
    grid-area: h2grid;
   }
  .pgrid{
    grid-area: pgrid;
  }
  .imggrid{
    grid-area: imggrid;
  }

  .booton1{
    @extend %botonprincipal;
    background-color: #d51709;
    border-bottom: 2px solid #8c1007;
}

.booton2{
    @extend %botonprincipal;
    background-color: #096cd5;
    border-bottom: 2px solid #053b75
}

.booton3{
    @extend %botonprincipal;
    background-color: #dc2c87;
    border-bottom: 2px solid #961c5b
}

.botontec1{
  border: $border;
  margin: 10px;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  background-color: $backcolor;
  color: $colortext;
  }
  
  .botontec2{
    border: $border;
    margin: 10px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    background-color: $backcolor;
    color: $colortext;
  }