footer{
    background-image: linear-gradient(to right bottom, #003f75, #205183, #366390, #4b759d, #6188aa);
    height: 160px;
    color: white;
   }
   
   .fot1{
     text-decoration: none;
     color: white;
     padding: 5px;
   }
   
   .redso{
     font-style: bold;
   }
   .foot{
     padding: 15px 0px 0px 15px
   }
   
   .afoot{
     padding: 10px;
   }