.btn1{
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: #003F75;
    font-size: 25px;
  }

  .animacionDos {
    animation-name: efectoDos;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
   }
   
   @keyframes efectoDos {
    0% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.75, 0.75);
    }
    50% {
      transform: scale(1, 1);
    }
    75% {
      transform: scale(0.75, 0.75);
    }
    100% {
      transform: scale(1, 1);
    }
   }
  
  .btn2{
    margin: -40px 0px 0px 545px;
    padding: 0px;
    width: 170px;
    height: 100px;
  }