$font-size: (
    fontsizeh1: 70px,
    fontsizetit: 90px,
    fontsizetit2: 30px
    fontsizered: 34px,
    fontsizef2: 70px,
    fontsizeh2serv: 50px,
    fontsizepserv: 20px,
    fontsizeh2cont: 35px,
    fontsizesubsc: 30px,
    fontsizeem: 20px
);

$colores: (
    colorprincipal: #003F75,
    colorsecundario: #ffffff,
    colorterciario: #000000,
    colorfondo: #ffffff,
    colortexto: #000000
);
